.cardsholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  overflow: hidden;
  justify-items: center;
}

@media screen and (max-width: 640px) {
  .cardsholder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cardshort:hover {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.cardshort:hover .info h2 {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
  height: 70px;
}

.cardshort:hover .moreinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid grey;
  opacity: 1;
  visibility: visible;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

.placer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1110px) {
  .linker {
    width: 23%;
  }
  .cardshort:hover {
    width: 20%;
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  .linker {
    width: 42%;
  }
  .cardshort:hover {
    width: 42%;
    height: 625px;
  }
  .placer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .placer:hover {
    height: 500px;
  }
}

@media screen and (max-width: 640px) {
  .linker {
    width: 70%;
  }
}

@media screen and (max-width: 1110px) and (min-width: 800px) {
  .linker {
    width: 30%;
  }
  .cardshort:hover {
    width: 23%;
  }
}

.cardshort {
  border-radius: 20px;
  width: 100%;
  height: 300px;
  background-color: #282424;
}

.cardshort .moreinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}

.cardshort .moreinfo p {
  margin-bottom: 5px;
}

.cardshort .icons {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardshort .poster {
  height: 55%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.cardshort .info {
  height: 45%;
  padding: 5px 20px 30px 20px;
}

.cardshort .info h2 {
  margin: 5px 0px;
  font-size: 1.3rem;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
}

.cardshort .tag {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #373737;
  font-weight: 600;
  border-radius: 10px;
}
/*# sourceMappingURL=CardPanel.css.map */