.cardshort:hover{
    width:20%;
    height: fit-content;
    position: absolute;
    transform: scale(1.1);
    transition: transform 0.2s linear;
    .moreinfo{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid grey;
        opacity: 1;
        visibility: visible;
        position:relative;
    }
}
.cardpanel{
    
}

.placer{
    width: 23%;
    display: flex;
}

.cardshort{
    .moreinfo{
        display: flex;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s,opacity 0.2s linear;
        p{
            margin-bottom: 5px;
        }
    }
    border-radius: 20px;
    width: 100%;
    // transform: 0.1s ease-in all;
    height: fit-content;
    background-color: #282424;
    .icons{
        width: 20%;
        display: flex;
        justify-content: space-between;
    }
    .poster{
        height: 55%;
        width: 100%;
        // background-image: url(https://media.rawg.io/media/crop/600/400/games/fb5/fb5e0fdb1f6bb0e8b5da5d08bb83a5fc.jpg);
        border-radius: 20px 20px 0px 0px;
    }
    .info{
        height: 45%;
        padding: 5px 20px 30px 20px;
        h2{
            margin: 5px 0px;
            font-size: 1.7rem;
            line-height: 40px;
        }
    }
    .tag{
        width: fit-content;
        padding: 7px 20px;
        height: 20px;
        background-color: #373737;
        font-weight: 600;
        border-radius: 10px;
    }
}