

.header {
  width: 75vw;
  h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    width: fit-content;
  }
  p {
    margin: 0;
    width: fit-content;
  }

  .shiny-header-subtitle {
    background: linear-gradient(#f17877, #bc3c60);
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 32px;
    margin: 32px 0 40px;
    border-radius: 10px;
    .shiny {
      height: 4em;
      width: 40%;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      transition: 0.1s all ease-in;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 40px;
      p {
        color: white;
        opacity: 1;
        text-align: center;
        width: auto;
        margin: 0;
      }
      outline: none;
      border: none;
      border-radius: 5px;
    }
    .shiny:hover {
      background-color: rgba(255, 255, 255, 1);
      p {
        color: black;
      }
    }
  }
}
