.top-nav {
  margin-top: 1em;
  width: 96vw;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .top-nav-items {
      display: flex;
      align-items: center;
    .profilepic{
        width: 2.8em;
        height: 2.8em;
        background-color: grey;
        border-radius: 50px;
    }
    width: 15%;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 7px;
  }
}

.searchbar {
  background-color: rgb(73, 73, 73);
  display: flex;
  align-items: center;
  width: 75%;
  height: 2.7em;
  border-radius: 30px;
  padding-left: 20px;
    transition: all 0.1s ease-in;
  input {
    margin-left: 5px;
    border: none;
    font-size: small;
    background-color: rgb(73, 73, 73);
    transition: all 0.1s ease-in;
    width: 100%;
    color: white;
  }
  input:focus {
    outline: none;
  }
}

.searchbar:hover, .searchbar:focus{
    background-color: rgb(255, 255, 255);
    input{
        background-color: rgb(255, 255, 255);
        color: black;
    }
}
